<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.zyxwv.ice" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ico_ice"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Splash2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InfoEdit"
            android:label="@string/title_activity_info_edit"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Dlg_Open"
            android:label="@string/title_activity_dlg__open"
            android:parentActivityName=".InfoEdit"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InfoEdit" />
        </activity>
        <activity
            android:name=".TextEdit"
            android:label="@string/title_activity_text_edit"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/title_activity_email"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zyxwv.ice.Main" />
        </activity>
    </application>

</manifest>
